*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .footer{
    height: 100px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: red;
    font-family: serif;
    text-transform: uppercase;
}
.section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.section:nth-child(1){
    background-color: yellow;
}
.section:nth-child(2){
    background-color: green;
}
.section:nth-child(3){
    background-color: goldenrod;
}